<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Scape Game</span>
  <span class="space"></span>
  <a routerLink="/">
    <button mat-icon-button class="home-button" aria-label="home-icon">
      <mat-icon>home</mat-icon>
    </button>
  </a>
  <a routerLinkActive="active-link" routerLink="/login">
    <button mat-icon-button class="login-button" aria-label="login-icon">
    <mat-icon>login</mat-icon>
      </button>
  </a>
</mat-toolbar>
